.Q1 {font-weight:bold;
color:blue;}

main {background-color: linear-gradient(cyan, magenta);}

.num {font-weight:bold;
font-size:larger;}

li {text-align: left;
    align-items: left;}
ul {text-align: left;
align-items: left;}


