* {color: #054281;
font-weight:bold; 
font-family:Georgia, 'Times New Roman', Times, serif;}

.bg {
    background-color: #696969 ;}

a:visited  {color:#D82D19;} 



a:visited.corr {color:#3D9016}


.num {font-weight:bold;
font-size:larger;}

li {text-align: left;
    align-items: left;}
ul {text-align: left;
align-items: left;}

